text-btc-db
text-btc-db.sqbpro
hf_endpoints
../scripts/config.py
model_dev.ipynb
testing.py
/Users/owner/myles-personal-env/Projects/text-btc-app/text-btc-db
/Users/owner/myles-personal-env/Projects/text-btc-app/text-btc-db-journal
/Users/owner/myles-personal-env/Projects/text-btc-app/text-btc-db.sqbpro


