../scripts/text-btc-db
other/text-btc-db.sqbpro
hf_endpoints
../scripts/config.py
model_dev.ipynb
testing.py
text-btc-db
text-btc-db-journal
text-btc-db.sqbpro
scripts/text-btc-db
db-backup/text-btc-db
db-backup
